@charset "utf-8";

/* CSS Document */

 /*Mobile Styles */
@media only screen and (max-width: 700px) {
nav {
	width: 100%;
	position: relative;
	height: 135px;/*right: 30px;*/
	margin-bottom: -110px;
	background: #000000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.menu ul {
	float: none;
	text-align: center;
}
.menu li {
	display: block;
	margin: 0 auto;
}
.left-hello {
	display: none;
}
.right-about {
	width: 70%;
}
.main-heading h1 {
	font-size: 50px;
	line-height: 50px;
}
/** timeline **/
.timeline {
	padding: 20px 0px;
	width: 90%;
	margin-left: 2%;
	margin-bottom: 30px;
}
.timeline .column {
	margin: 40px 10px 60px 20px;
}
.timeline .column .title h1 {
	font-size: 90px;
	letter-spacing: 2px;
}
.timeline .column .title h2 {
	letter-spacing: 1px;
	font-size: 21px;
}
.timeline .column .title h3 {
	font-size: 16px;
	letter-spacing: 1px;
}
.timeline .column .title p {
	font-size: 14px;
	width: 110%;
	text-align: justify;
}
.timeline .column .description li {
	font-size: 15px;
	width: 85%;
}
.right-about {
	right: 10%;
}
/********skills**********/
	 
.skills-list {
	width: 85%;
	margin-left: 2%;
	margin-bottom: 40px;
	line-height: 3.5em;
}
.skills-list li {
	padding: 10px;
	font-size: 13px;
	line-height: 8px;
	margin-top: 8px;
	margin-left: 20px;
	margin-bottom: 15px;
}
footer {
	height: 200px;
}
.contact li {
	line-height: 40px;
	font-size: 14px;
}
.contact ul li i {
	font-size: 14px;
}
.social-links ul {
	margin: 0 auto;
	top: 60px;
}
.social-links li {
	padding: 13px;
}
.social-links li a {
	font-size: 25px;
}
.copy-right h5 {
	position: relative;
	top: 5px;
	font-size: 12px;
}
}

@media only screen and (max-width: 1500px) {
.left-hello {
	float: left;
	color: white;
	width: 50%;
	position: relative;
	top: 45%;
	left: 8%;
}
.left-hello h1 {
	font-size: 50px;
	letter-spacing: 3px;
}
}
